#backButton{
  cursor: pointer;
  margin-top: 7px;
  width: 22px;
}
.header h2{
  font-family: sans-serif;
  font-size: 28px;
  margin-left: 20px;
}
#uploadButton{
  width: 27px;
  margin-top: 5px;
  cursor: pointer;
}
.exportModalWidth{
  margin-top: 250px !important;
  max-width: 400px !important;
}
#printButton{
  width: 60px;
  margin-left: 45px;
  margin-bottom: 60px;
  cursor: pointer;

}
#xlsButton{
  width: 50px;
  margin-bottom: 60px;
  margin-left: 40px;
  cursor: pointer;
}
#pdfButton{
  width: 50px;
  margin-bottom: 60px;
  margin-left: 40px;
  cursor: pointer;
}
#exportText{
  margin-left: 40px;
  font-size: 20px;
  font-family: sans-serif;  
  color: #555555;
  cursor: pointer;
}

#text-align-print{
  position: absolute;
  margin-top: 10px;
  margin-left: 60px;
  cursor: pointer;
}
#text-align-pdf{
  position: absolute;
  margin-left: 60px;
  margin-top: 10px;
  cursor: pointer;
}
#text-align-doc{
  position: absolute;
  margin-left: 50px;
  margin-top: 10px;
  cursor: pointer;
}
#selectCardStyle{
  width: 300px;
  margin-top: 10px;
}
