.headingStyle {
	color:#24587f;
	margin-bottom: 0.1rem;
}

.locationPlan {
	color:white;
	background-color: #20a8d8;
}

.commonFontFamily {
	font-family: serif;
}

.commonFontStyle {
	color:#62879A;
	font-family: serif;
}

.cardHeaderTextStyles {
	color:#62879A;
	font-family: serif;
	font-size: medium;
	text-transform: capitalize;
	font-weight:100;
}

.textBoxBgColor {
	cursor: pointer;
	background-color: #FAFAFA;
	display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #3e515b;
    background-clip: padding-box;
    border: 1px solid #c2cfd6;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.selectBgColor {
	background-color: #f4f4f4;
}

.commonTexboxBgColor {
	background-color: #FAFAFA;
    border-color: #CCCCCC;
}

.dropdownMenuStyle {
	background-color: white;
    border-color: white;
    padding: 0rem 0rem;
}

.datePickerCss {
    border: 1px solid #c2cfd6;
    background-color: #fafafa;
}