.headingStyle {
	color:#24587f;
	margin-bottom: 0.1rem;
}

.locationPlan {
	color:white;
	background-color: #20a8d8;
}

.commonFontFamily {
	font-family: serif;
}

.commonFontStyle {
	color:#62879A;
	font-family: serif;
}

.cardHeaderTextStyles {
	color:#62879A;
	font-family: serif;
	font-size: medium;
	text-transform: capitalize;
	font-weight:100;
}

.textBoxBgColor {
	cursor: pointer;
	background-color: #FAFAFA;
	display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #3e515b;
    background-clip: padding-box;
    border: 1px solid #c2cfd6;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.selectBgColor {
	background-color: #f4f4f4;
}

.commonTexboxBgColor {
	background-color: #FAFAFA;
    border-color: #CCCCCC;
}

.dropdownMenuStyle {
	background-color: white;
    border-color: white;
    padding: 0rem 0rem;
}

.datePickerCss {
    border: 1px solid #c2cfd6;
    background-color: #fafafa;
}

#uploadButton{
	margin-top: 5px;
	cursor: pointer;
  }
  .exportModalWidth{
	margin-top: 250px !important;
	max-width: 400px !important;
  }
  #printButton{
	width: 60px;
	margin-left: 45px;
	margin-bottom: 60px;
	cursor: pointer;
  
  }
  #xlsButton{
	width: 50px;
	margin-bottom: 60px;
	margin-left: 40px;
	cursor: pointer;
  }
  #pdfButton{
	width: 50px;
	margin-bottom: 60px;
	margin-left: 40px;
	cursor: pointer;
  }
  #exportText{
	margin-left: 40px;
	font-size: 20px;
	font-family: sans-serif;  
	color: #555555;
	cursor: pointer;
  }
  
  #text-align-print{
	position: absolute;
	margin-top: 10px;
	margin-left: 60px;
	cursor: pointer;
  }
  #text-align-pdf{
	position: absolute;
	margin-left: 60px;
	margin-top: 10px;
	cursor: pointer;
  }
  #text-align-doc{
	position: absolute;
	margin-left: 50px;
	margin-top: 10px;
	cursor: pointer;
  }
  .reports-page-body{
	background-color: white;
  }
  
  #selectCardStyle{
	width: 300px;
	margin-top: 10px;
  }
  
  .commonFontFamilyColor {
	color:unset;
  }
  
  .filterCardHeaderStyle2 {
	  background-color: white !important;
	  padding: 0.40rem 1.25rem !important;
	  color:#4c4c4c;
	  font-size: 15px;
  }
  .dropdown-item:hover
  {
	background-color: #d03b3cfa !important;
  }
  button:focus{
	outline: 5px auto;
	outline-color: #f93435 !important;
  
  }
  .dropdown-item:active {
	color: black !important;
  }
  .ReactTable{
	width: -webkit-fill-available !important;
  }
  .tab-content.tabpenal{
	padding: 0rem !important;
  }
  .ReactTable .-loading{
	background: #0808081f !important;
 